<a href="https://colab.research.google.com/github/raianasousa/Aula01/blob/main/AulaMineracao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Datasets/iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import confusion_matrix

In [ ]:
dataFrame = pd.read_csv("iris.csv")

In [ ]:
dataFrame.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
X = dataFrame.drop('variety', axis=1)
y = dataFrame['variety']

In [ ]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X,y,test_size=0.3)

In [ ]:
modelo = ExtraTreesClassifier()

In [ ]:
modelo.fit(X_treino,y_treino)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [ ]:
acuracia = modelo.score(X_teste,y_teste)
acuracia

0.9777777777777777

In [ ]:
predicao = modelo.predict(X_teste)
predicao

array(['Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Virginica', 'Virginica', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Virginica', 'Versicolor', 'Virginica',
       'Versicolor', 'Virginica', 'Setosa', 'Versicolor', 'Setosa',
       'Setosa', 'Setosa', 'Virginica', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Virginica', 'Setosa', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Setosa'], dtype=object)

In [ ]:
matriz_confusao = confusion_matrix(y_teste,predicao)
matriz_confusao

array([[14,  0,  0],
       [ 0, 12,  2],
       [ 0,  2, 15]])